extends layout.pug

block head
  script(type="text/javascript" src="/vendor/moment/moment.js")
  link(rel='stylesheet' href='/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css')
  script(type='text/javascript' src='/vendor/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js')

block content
  .jumbotron
    h1 Post a new tutoring session
    form.form(action="/tutor_sessions" method="POST")
      .row
        .form-group.col-lg-4
          label(for="session-subject") Subject
          .input-group
            input.form-control(id="session-subject", name="subject", type="text", required, value=session.subject)
        .form-group.col-md-6.col-lg-4
          label(for="session-start-time") Start time
          .input-group.date.session-start-time
            input.form-control(id="session-start-time", name="startTime", type="text", required, value=session.startTime_string)
            .input-group-addon: span.fa.fa-calendar
        .form-group.col-md-6.col-lg-4
          label(for="session-duration") Duration (minutes)
          .input-group
            input.form-control(id="session-duration", name="durationMinutes", type="number", required, min=0, step=5,
            value=session.durationMinutes)
        .form-group.col-md-6
          label(for="session-school") School
          .input-group
            input.form-control(id="session-school", name="school", type="text", required, value=session.school)
        .form-group.col-md-6
          label(for="session-location") Location
          .input-group
            input.form-control(id="session-location", name="location", type="text", required, value=session.location)
      button.btn.btn-primary(type="submit") Create
    script(type="text/javascript").
      $(function() {
        $('.session-start-time').datetimepicker({
          icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down"
          }
        })
          .find('input').val(moment().format('L LT'))
      });
